.block.notice
  %h3 Web Pages
  .content
    %p Each entry will correspond to a web page on the site.
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} Link 1
    %li
      %a{:href => "#"} Link 2
