.block.notice
  %h3 Services
  .content
    %p These will populate on the Services page.
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} Link 1
    %li
      %a{:href => "#"} Link 2
