.block.notice
  %h3 Locations
  .content
    %p This is the page text for the Location page.
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} Link 1
    %li
      %a{:href => "#"} Link 2
