.block.notice
  %h3 Slideshow Images
  .content
    %p
      These are the images that will populate the slideshow on the Home page.
    %p
      Images should be in jpeg format and 72dpi.
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} Link 1
    %li
      %a{:href => "#"} Link 2
