!!!
%html
  %head
    %title Cottage Health Care Services
    = stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override"
    = csrf_meta_tag
  %body
    #container
      #box
        = yield
